.thumbnail-list-item {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 5px;
}

.mainContainer {
	margin-left:5%;
	margin-right:5%;
}

.modal {
	top:10%;
	bottom: 10%;
	left: 5%;
	right: 5%;
	width: 90%;
}

.content {
	position: absolute;
	/* float: left; */
	margin:2%;
	margin-top:5%;
	width: 640px;
}

.rating {
	margin:2%;
	margin-top:5%;
	float: right;
}